@import url(https://fonts.googleapis.com/css?family=EB+Garamond|Fanwood+Text:400italic|Open+Sans:300,400);

.center{
    margin-left: auto;
    margin-right: auto;
}

.pageTitle{
    margin-top: 20px;
    font-family: 'Times New Roman', serif;
    font-size: 35px;
    max-width: 800px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.Authors{
    margin-top: 0px;
    margin-left: auto;
    margin-bottom: -10px;
    font-family: 'Times New Roman', serif;
    font-weight: 400;
    font-size: 20px;
}

.material{
    margin-top: 10px;
    font-family: 'Times New Roman', serif;
    font-size: 20px;
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.abstractTitle{
    margin-top: 30px;
    margin-left:auto;
    font-family: 'Times New Roman', serif;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

.abstractText{
    margin-top: 30px;
    font-family: 'Times New Roman', serif;
    font-size: 18px;
    text-align: justify;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.bannerImage{
    display:  block;
    margin-left: auto;
    margin-right: auto;
    max-width: 650px;
    margin-top: 40px;
}

.bibtex{
    margin-top: 10px;
    margin-left: 0px;
    width : 600px;
    font-size: 15px;
    white-space: pre-line;
}

.figureTitleText{
    margin-top: 0px;
    font-family: 'Times New Roman', serif;
    font-size: 18px;
    text-align: justify;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.footNoteText{
    margin-top: 40px;
    font-family: 'Times New Roman', serif;
    font-size: 16px;
    text-align: justify;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

a:link { color: rgb(0, 0, 200);text-decoration: none; }
a:hover { color: rgb(200, 0, 0) }
a:active { color: rgb(255, 0, 102) }
a:visited{color: rgb(0, 0, 100)}
